@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #0D8ADE, #29516B);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(4, 36, 56, 0.568);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3c6f91;
    text-align: center;
    text-shadow: 1px 1px 2px #a0bacf;
}

h2{
    color: #9fd7fa;
}

p{
    text-align: justify;
}